@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1281px) {
 

  .Illust {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    overflow: hidden;

    font-family: 'HakgyoansimWoojuR';
  }
  

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    max-width: 100%;
    overflow: hidden;
    justify-content: center; /* 이미지 가운데 정렬 */
  }

  .illust-container {
    position: relative;
  }
  
  .grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: center top; /* 이미지를 아래쪽으로 정렬하여 위쪽이 잘려 보이도록 설정 */
  }
  
  

  .illust-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: hidden;
  }
  
  /* .modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  
  .close-button,
  .prev-button,
  .next-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
  }
  
  .close-button {
    top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  }
  
  .prev-button,
  .next-button {
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    color: white;
    font-size: 24px;
  }

  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  
  .close-button:hover,
  .prev-button:hover,
  .next-button:hover {
    color: red;
  }
  
  .close-button:focus,
  .prev-button:focus,
  .next-button:focus {
    outline: none;
  } */

}



@media  only screen and (max-width: 1280px) {

  .Illust {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin-top: 72px;

    font-family: 'HakgyoansimWoojuR';
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
    max-width: 100%;
    overflow: hidden;
    justify-content: center; /* 이미지 가운데 정렬 */
  }

  .illust-container {
    position: relative;
  }
  
  .grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: center top; /* 이미지를 아래쪽으로 정렬하여 위쪽이 잘려 보이도록 설정 */
  }
  
  
/* 
  .illust-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: hidden;
  } */
  
  /* .modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율 유지
  } */
  
  
  /* .close-button,
  .prev-button,
  .next-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
  }
  .close-button {
    top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  }
  
  .prev-button,
  .next-button {
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    color: white;
    font-size: 24px;
  }

  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  } */
  
  
 /* .close-button:hover,
  .prev-button:hover,
  .next-button:hover {
    color: red;
  }
  
  .close-button:focus,
  .prev-button:focus,
  .next-button:focus {
    outline: none;
  } */

}




