@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.main-img {
  width: 100%;
}

.mobile-main-img {
  width: 100%;
}

@media (min-width: 1281px) {
  * {
    color: #304865;
  }

  .main-img {
    display: flex;
  }

  .mobile-main-img {
    display: none;
  }

  .link-icons {
    display: none;
  }

  .intro-box {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    align-items: center;
    margin-left: min(200px, 100px);
    margin-right: 100px;

    height: 278px;
  }

  .IDASU {
    font-family: 'TAEBAEKmilkyway';
    font-size: 36px;
    letter-spacing: 25px;
  }

  .intro {
    font-family: 'HakgyoansimWoojuR';
    font-size: 18px;
    text-align: left;
    line-height: 34px;
    color: #494949;
    min-width: 430px;
    padding-left: 20px;
  }

  .gray-bar {
    width: 100%;
    height: 8px;
    background-color: #FBFBFB;
  }

  .content {
    padding-top: 180px;
  }

  .content-box {
    display: flex;
    margin-bottom: 120px;
    margin-right: 120px;
    align-items: flex-start;
  }

  .line {
    width: 100%;
    min-width: 50px;
    max-width: 300px;
    height: 1px;
  
    background-color: #304865;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-left: 11px;
  }

  .content-title {
    width: 380px;
    display: flex;
    align-items: center;
  }

  .blank {
    width: 250px;
    transition: width 0.5s ease-in-out;
    background-color: #fff;
  }

  .contents {
    width: 550px;
    padding-top: 5px;
    text-align: left;
  }

  .mail-icon {
    width: 15px;
    padding-right: 10px;
  }

  .sparkle-text {
    padding-right: 10px;
  }

  .contents p {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .bold {
    font-weight: bold;
  }

  .content-mail{
    padding-top: 20px;
  }

}


@media only screen and (max-width: 1280px) {
  Main {
    color: #304865;
    align-items: center;
  }

  .main-img {
    display: none;
  }

  .mobile-main-img {
    display: flex;
    width: 100%;
    margin-top: 72px;
    margin-bottom: 70px;
  }

  .IDASU {
    font-family: 'TAEBAEKmilkyway';
    font-size: 24px;
    letter-spacing: 25px;
    text-align: center;
    padding-left: 25px;
    margin-bottom: 40px;
  }

  .intro {
    font-family: 'HakgyoansimWoojuR';
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: #494949;
    margin-bottom: 80px;
  }

  .link-icons-helper {
    display: flex;
    height: 20px;
    justify-content: center;
    margin-bottom: 53px;
  }

  .link-icons {
    display: grid;
    grid-template-columns: repeat(3, 20px);;
    gap: 40px;
    align-items: center;
    justify-items: center;
  }

  .link-icons a, .link-icon {
    width: 20px;
    height: 20px;
  }

  .gray-bar {
    width: 100%;
    height: 8px;
    background-color: #FBFBFB;
  }

  .content {
    margin-top: 80px;
  }

  .content-box {
    width: 100%;
    margin-bottom: 80px;
    align-items: flex-start;
    flex-wrap : wrap;
  }

  .line {
    width: 80px;
    height: 1px;

    background-color: #304865;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
  }

  .content-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .blank {
    display: none;
  }

  .contents {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    margin-left: 107px;
    margin-right: 30px;
  }


  .sparkle-text {
    width: 10px;
    padding-right: 8px;
  }

  .contents p {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .bold {
    font-weight: 900;
  }

  .content-mail{
    padding-top: 20px;
  }
  
  .mail-icon {
    width: 10px;
    padding-right: 10px;
  }

}

