@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.Top {
  display: grid;
  grid-template-columns: 4;
  grid-template-columns: 97px auto 74px;
  justify-items: center;
  align-items: center;
  
  font-family: 'HakgyoansimWoojuR';

  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgb(255, 255, 255, 0.3);
  
  backdrop-filter: blur(18px);
}

.main-logo {
  display: flex;
  justify-content: center;


  width: 300px;
  height: 128px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.top-logo-img {
  width: 70px;
  height: 52px;
  padding-top: 2px;
  padding-left: 5px;
}

.menu-img {
  width: 16px;
  height: 15px;
}

.menu-button {

  padding: 0;

  border: none;
  background-color: rgb(255, 255, 255, 0);
}

.modal-container {
  background-color: #fff;
}
