@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media all and (min-width: 1281px) {
  .Virtual {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 100%;
    overflow: hidden;

    color:#304865;

  }
  
  .step {
    width: auto;

  }

  .step-mobile {
    display: none;
  }
    


  .sparkle-title {
      width: 24px;
    }

  .page-title {
    font-family: 'HakgyoansimWoojuR';
    font-size: 24px;
    
    display: flex;
    gap: 5px;
    align-items: center;
    
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .step-p {
    margin-top: 150px;
  }

  .box p {
    font-size: 16px;
    text-align: center;
    color: #494949;
  }

  .box {
    margin-top: 64px;
    margin-bottom: 150px;
  }

  .notice-box p {
    font-size: 16px;
    text-align: left;
    color: #494949;
  }



  .refund-box p {
    font-size: 16px;
    text-align: left;
    color: #494949;
  }
  

  .subtitle-line {
    width: 100%;
    flex-grow: 1;
    height: 1px;
    background-color: #304865;
  }

  .subtitle-box {
    width: 90%;
    flex-grow: 1; /* 남은 공간을 골고루 차지하도록 설정합니다. */
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    gap: 5px;

    align-items: center;
    justify-content: center;
    justify-items: center;

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 120px;

  }

  .subtitle {
    display: flex;
    width: 100px;
    justify-content: center;
  }

  .price-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    gap: 200px;
    margin-bottom: 150px;
    width: calc(100% - 300px);
    min-width: 516px;


    
  }

  .price {

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price h4, .price p, .box p {
    margin: 0;
  }

  .price h4 {
    margin-bottom: 12px;
  }

  .price p, .facials p {
    font-size: 16px;
  }

  .facials .subtitle {
    margin-bottom: 50px;
  }

  .facials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    width: 100%;

    margin-bottom: 150px;
    min-width: 516px;
  }

  .facials2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: auto;
    width: 100%;

    margin-bottom: 150px;
    min-width: 516px;
  }

  .facial img {
    width: 200px;
  }


  .bluePrintImages {
    display: flex;
    padding: 0;
  }

 

}



@media only screen and (max-width: 1280px) {
  .Virtual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    overflow: hidden;

    color:#304865;

  }

  .step {
    display: none;
  }

  .step-mobile {
    width: 100%;
    transform: translateX(-2px);
  }


  .sparkle-title {
      width: 18px;
    }

  .page-title {
    font-family: 'HakgyoansimWoojuR';
    font-size: 18px;
    
    display: flex;
    gap: 5px;
    align-items: center;
    
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .step-p {
    margin-top: 50px;
    font-size: 14px;
  }

  .box p {
    font-size: 14px;
    text-align: center;
    color: #494949;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .box {
    margin-top: 64px;
    margin-bottom: 150px;
    
  }

  .notice-box p {
    font-size: 14px;
    text-align: left;
    color: #494949;
  }



  .refund-box p {
    font-size: 14px;
    text-align: left;
    color: #494949;
  }
  

  .subtitle-line {
    width: 100%;
    flex-grow: 1;
    height: 1px;
    background-color: #304865;
  }

  .subtitle-box {
    width: 90%;
    flex-grow: 1; /* 남은 공간을 골고루 차지하도록 설정합니다. */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 5px;

    align-items: center;
    justify-content: center;
    justify-items: center;

    font-size: 16px;
    font-weight: bold;
    margin-bottom: 120px;

  }

  .subtitle {
    display: flex;
    width: 80px;
    justify-content: center;
  }

  .price-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    gap: 50px;
    margin-bottom: 150px;
    width: 100%;


    
  }

  .price {

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .price h4 {
    margin-bottom: 12px;
  }

  .price p, .facials p {
    font-size: 14px;
  }

  .facials .subtitle {
    margin-bottom: 50px;
  }

  .facials {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    gap: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px;
    min-width: 516px;
  }
  .facials2 {
    display: grid;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;

    gap: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px;
    min-width: 516px;
  }

  .facial img {
    width: 250px;
  }


  .bluePrintImages icons.s{
    display: flex;
    gap: 6px;
    max-width: 100%;
    overflow: hidden;
    justify-content: center; /* 이미지 가운데 정렬 */
  }
}